.c-button {
	background-color: #eee;
	color: $black;
	border: 2px solid transparent;
	border-radius: 7px;
	display: inline-block;
	font-size: 14px;
	padding: 7px 9px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:focus,
	&.active {
		text-decoration: none;
		outline: none;
	}
	&[disabled] {
		background: $disabled-color;
		color: $black;
		border-color: $disabled-color;
	}
	@include m('empty') {
		color: inherit;
	}
	@include m('transparent') {
		background-color: transparent;
	}
	@include m('fail') {
		color: #fff;
		background-color: $fail-color;
		border-color: $fail-color;
	}
	@include m('neutral') {
		color: #fff;
		background-color: $neutral-color;
		border-color: $neutral-color;
	}
	@include m('success') {
		color: #fff;
		background-color: $success-color;
		border-color: $success-color;
	}
	@include m('accent') {
		color: #fff;
		background-color: $accent-color;
		border-color: $accent-color;
	}


	@include m('lg') {
		padding: 10px;
		min-width: 415px;
		border-radius: 10px;
	}
	@include m('md') {
		padding: 10px;
		min-width: 300px;
		border-radius: 10px;
	}
	@include m('s') {
		padding: 5px;
		font-size: 12px;
		min-width: 100px;
		border-radius: 3px;
	}

	@include m('xs') {
		padding: 3px;
		font-size: 10px;
		border-radius: 3px;
	}
	@include m('margin') {
		margin: 0 $base-padding;
	}
}
