<div class="c-page room">
	<div class="c-page__wrapper">
		<div *ngIf="loadingState.isLoading">Загружается..</div>
		<div *ngIf="!loadingState.isLoading">Комната: ({{room.id}})</div>
		<agm-map
			*ngIf="map"
			[latitude]="map.lat"
			[longitude]="map.lng"
			[zoom]="map.zoom"
			[disableDefaultUI]="false"
			[zoomControl]="false">
			<agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
		</agm-map>
		<div>
			<audio class="room__player" controls></audio>
		</div>
		<h3>Очередь воспроизведения</h3>
		<div class="room__playlist"></div>
	</div>
</div>
