$max-width: 1366px;
$header-height: 60px;
$white: #fff;
$black: #000;
$mts-color: #e20f00;
$mts-color-2: #e20611;
$mts-green-color: #3f9d2f;
$login-button-color: #467fd7;
$login-gray-color: #5e5e5e;

$fail-color: $mts-color;
$success-color: #6aff60;
$accent-color: $mts-color-2;
$neutral-color: #457AB1;
$disabled-color: #eee;

$base-border-radius: 7px;
$base-font-size: 15px;
$base-padding: 10px;
$footer-background-color: $neutral-color;
