.header {
	z-index: 1;
	color: $accent-color;
	font-weight: bold;
	@include e('wrapper') {
		display: flex;
		align-items: center;
		padding: 10px 20px;
		border-bottom: 1px solid #000;
	}
	
	@include e('menu') { }
	
	@include e('logo-wrapper') {
		cursor: pointer;
		outline: none;
	}
}
